{% extends 'base.html.twig' %} 

{% set linkHome = 'active' %} 
{% set linkTicketing = none %}
{% set frenchLink = '/fr' %}
{% set englishLink = '/en' %}

{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}

{% block body %}
    <div id ="banner" class"container-fluid">
         <div id="banner-content">   
          
            <h1 class="title">{% trans %} Bienvenue au Musée du Louvre {% endtrans %}</h1>
            <p class= "description">
                {% trans %}Entrez dans le musée le plus connu d'Europe pour découvrir l'art et l'histoire comme vous ne l'avez jamais vue.{% endtrans %}
            </p>
            <a href="/{{ locale }}/ticketing"><div class="btn btn-ticketing">{% trans %}Billetterie{% endtrans %}</div></a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="text/javascript" src="{{ asset("js/home.js") }}"></script>
{% endblock %}