{% extends 'base.html.twig' %} 

{% set linkHome = 'active' %} 
{% set linkTicketing = none %}
{% set frenchLink = '/fr' %}
{% set englishLink = '/en' %}

{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}

{% block body %}
    <div id ="banner" class"container-fluid">
         <div id="banner-content">   
          
            <h1>{% trans %} Bienvenue au Musée du Louvre {% endtrans %}</h1>
            <p>
                {% trans %}Entrez dans le musée le plus connue d'Europe pour découvrir l'art et l'histoire comme vous ne l'avez jamais vue.{% endtrans %}
            </p>
            <a href="/{{ locale }}/ticketing"><div class="btn btn-ticketing">{% trans %}Billeterie{% endtrans %}</div></a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="#"></script>
{% endblock %}