{% extends 'base.html.twig' %} 

{% set linkHome = none %} 
{% set linkTicketing = 'active' %}

{% block title %}{% trans %}Billeterie{% endtrans %}{% endblock %}

{% block body %}
    <div id="banner-ticketing" class="container-fluid">
        <div id="banner-ticketing-content">
            <h1>{% trans %}Billeterie{% endtrans %}</h1>
            <p>{% trans %}Bienvenue sur notre billetterie. Des tarifs réduits{% endtrans %}<br> {% trans %}vous sont proposez ci-dessous.{% endtrans %}</p>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="breadcrumb">
            <li class="breadcrumb-item"><a href="../">{% trans %}Accueil{% endtrans %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans %}Billeterie{% endtrans %}</li>
        </ol>
    </nav>
    <div id="body">
        <div id="ticketing-content">
            <table class="table" id="ticket-price">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">{% trans %}Type de billet{% endtrans %}</th>
                        <th scope="col">{% trans %}Prix de la journée complète{% endtrans %}</th>
                        <th scope="col">{% trans %}Prix demi-journée{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% trans %}Billet normal ( à partir de 12 ans ){% endtrans %}</td>
                        <td>18 euros</td>
                        <td>16 euros</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Billet enfant ( de 4 à 12 ans ){% endtrans %}</td>
                        <td>10 euros</td>
                        <td>8 euros</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Billet jeune age ( moins de 4 ans ){% endtrans %}</td>
                        <td>{% trans %}Gratuit{% endtrans %}</td>
                        <td>{% trans %}Gratuit{% endtrans %}</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Billet sénior ( moins de 60 ans ){% endtrans %}</td>
                        <td>15 euros</td>
                        <td>12 euros</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Billet tarif réduit ( étudiant, militaire, employer du musée ){% endtrans %}</td>
                        <td>12 euros</td>
                        <td>10 euros</td>
                    </tr>
                </tbody>
            </table>
            <div class="block-contenair">
                <h2>{% trans %}Choix des billets{% endtrans %}</h2>
                <form action="/ticketing/pannier" methode="get">
                    <div class="form-row">
                        <div class=" form-group col-md-6">
                            <select class="form-control" id="input-number-tickets">
                                <option>{% trans %}Nombre de billets{% endtrans %}</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control" id="input-type-visit">
                                <option value="false">{% trans %}Durée de la visite{% endtrans %}</option>
                                <option value="half-day">{% trans %}Demi-journée{% endtrans %}</option>
                                <option value="all-day">{% trans %}Journée complète{% endtrans %}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="date" class="form-control" id="input-date">
                            <small>{% trans %}Entrez la date de la visite.{% endtrans %}</small>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="time" class="form-control" id="input-time" value="00:00">
                            <small>{% trans %}Entrez l'heure de la visite.{% endtrans %}</small>
                        </div>
                        <button class="btn btn-danger" id="ticket-generation-button">{% trans %}Générer les billets{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
