{% extends 'base.html.twig' %} 

{% set linkHome = none %} 
{% set linkTicketing = 'active' %}

{% block title %}Billeterie{% endblock %}

{% block body %}
    <div id="banner-ticketing" class="container-fluid">
        <div id="banner-ticketing-content">
            <h1>Billeterie du Louvre</h1>
            <p>Bienvenue sur notre billetterie. Des tarifs réduits<br> vous sont proposez ci-dessous.</p>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="breadcrumb">
            <li class="breadcrumb-item"><a href="../">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Billeterie</li>
        </ol>
    </nav>
    <div id="body">
        <div id="ticketing-content">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type de billet</th>
                        <th scope="col">Prix de la journée complète</th>
                        <th scope="col">Prix demi-journée</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Billet normal ( à partir de 12 ans )</td>
                        <td>18 euros</td>
                        <td>16 euros</td>
                    </tr>
                    <tr>
                        <td>Billet enfant ( de 4 à 12 ans )</td>
                        <td>10 euros</td>
                        <td>8 euros</td>
                    </tr>
                    <tr>
                        <td>Billet jeune age ( moins de 4 ans )</td>
                        <td>Gratuit</td>
                        <td>Gratuit</td>
                    </tr>
                    <tr>
                        <td>Billet sénior ( moins de 60 ans )</td>
                        <td>15 euros</td>
                        <td>12 euros</td>
                    </tr>
                    <tr>
                        <td>Billet tarif réduit ( étudiant, militaire, employer du musée )</td>
                        <td>12 euros</td>
                        <td>10 euros</td>
                    </tr>
                </tbody>
            </table>
            <div class="block-contenair">
                <h2>Choix des billets</h2>
                <form action="/ticketing/pannier" methode="get">
                    <div class="form-row">
                        <div class=" form-group col-md-6">
                            <select class="form-control" id="input-number-tickets">
                                <option>Nombre de billets</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                                <option>33</option>
                                <option>34</option>
                                <option>35</option>
                                <option>36</option>
                                <option>37</option>
                                <option>38</option>
                                <option>39</option>
                                <option>40</option>
                                <option>41</option>
                                <option>42</option>
                                <option>43</option>
                                <option>44</option>
                                <option>45</option>
                                <option>46</option>
                                <option>47</option>
                                <option>48</option>
                                <option>49</option>
                                <option>50</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control" id="input-type-visit">
                                <option>Durée de la visite</option>
                                <option>Demi-journée</option>
                                <option>Journée complète</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="date" class="form-control" id="input-date">
                            <small>Entrez la date de la visite.</small>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="time" class="form-control" id="input-time" value="00:00">
                            <small>Entrez l'heure de la visite.</small>
                        </div>
                        <button class="btn btn-danger" id="ticket-generation-button">Générer les billets</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}