<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% trans %}Musée du Louvre{% endtrans %} | {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset("images/favicon.png") }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/"><img id ="logo" src="../images/logo-louvre.png" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-1 mt-lg-0">
                        <li class="nav-item {{ linkHome }}">
                            <a class="nav-link" href="/"> {% trans %} Accueil {% endtrans %}<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {{ linkTicketing }}">
                            <a class="nav-link" href="/ticketing"> {% trans %} Billeterie {% endtrans %} <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <a href="#"><div class="button-francais">Francais</div></a>
                        <a href="#"><div class="button-english">English</div></a>
                    </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <div class="container-fluid">
            <div class="row" id="footer">
                <div class="col-sm-2"></div>
                <div class="col-sm footer-contents" id="footer-content-1">
                <img src="../images/phone-icon.png" alt="phone icon">
                    <p>01 40 20 50 50</p>
                </div>
                <div class="col-sm footer-contents" id="footer-content-2">
                    <img src="../images/location-icon.png" alt="location icon">
                    <p>Rue de Rivoli, 75001 Paris</p>
                </div>
                <div class="col-sm footer-contents" id="footer-content-3">
                    <img src="../images/email-icon.png" alt="mail icon">
                    <p>info@louvre.fr</p>
                </div>
                <div class="col-sm footer-contents" id="footer-content-4">
                    Copyright © 2018<br>
                    {% trans %}Musée du Louvre{% endtrans %}<br>
                    {% trans %}Tous droits réservés{% endtrans %}<br>
                    <a href="#">{% trans %}Mentions légale{% endtrans %}</a><br>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
